@use 'variables';
@import 'aside';
@import 'main';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');


body {
    background-color: variables.$pageBgColor;
    font-family: variables.$primaryFont;
    padding: 2em;
}

#cvContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: variables.$cvBgColor;
    border-radius: 10px;
    border: black solid 4px;
}